---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<style>
  li {
    padding-bottom: 0.4em;
  }
</style>
<ContentLayout>
  <h1 class="pt-4 pt-sm-5 display-4">Board of Directors</h1>
  <a class="d-block pb-4 ps-1" href="mailto:bod@kingswoodtahoe.org"
    >bod@kingswoodtahoe.org</a
  >
  <ul class="px-4">
    <li>Randy Williams, President</li>
    <li>John Nelson, Vice-President</li>
    <li>Adam Hull, Secretary</li>
    <li>Johnathan Stafford, Treasurer</li>
    <li>Mike Ousley, Member</li>
    <li>Dan Hall, Member</li>
    <li>Al Eberhart, Member</li>
  </ul>
</ContentLayout>
