---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
  li {
    padding-bottom: 0.4em;
  }
</style>
<BaseLayout>
  <div class="container-sm">
    <div class="row">
      <div class="col px-4">
        <h1 class="pt-4 pt-sm-5 display-4">Board of Directors</h1>
        <a class="d-block pb-4 ps-1" href="mailto:bod@kingswoodtahoe.org"
          >bod@kingswoodtahoe.org</a
        >
        <ul class="px-4">
          <li>Gerald Rucker, President</li><li>
            Randy Williams, Vice-President
          </li><li>Jennifer Solomon, Treasurer</li><li>
            Laurie Stevenson, Secretary
          </li><li>Mike Ousley, Member</li><li>Dan Hall, Member</li><li>
            Dave Gotz, Member
          </li>
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>
