---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<ContentLayout>
  <h1 class="pt-4 pt-sm-5 display-4">Contact</h1>

  <dl class="px-1">
    <dt>Email</dt><dd>
      <a class="" href="mailto:info@kingswoodtahoe.org"
        >info@kingswoodtahoe.org</a
      >
    </dd>
    <dt>Phone</dt><dd>
      <a class="" href="tel:530-546-5913">(530) 546-5913</a>
    </dd>
    <dt>Mail</dt><dd translate="no">
      Kingswood Estates HOA<br />
      PO Box 1215<br />
      Kings Beach, CA 96143<br />
    </dd>
  </dl>
</ContentLayout>
