---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<style>
  li {
    padding-bottom: 0.4em;
  }
</style>
<ContentLayout>
  <h1 class="pb-2 pt-4 pt-sm-5 display-4">Fire Safety</h1>
  <ul class="px-4">
    <li>
      <a href="https://www.ntfire.net/defensible-space-chipping" target="_blank"
        >Defensible Space, Chipping & Tree Removal</a
      >
    </li><li>
      <a href="https://www.ntfire.net/home-hardening" target="_blank"
        >Home Hardening</a
      ><a href="https://www.firesafemarin.org/home-hardening" target="_blank"
        >[2]</a
      >
    </li><li>
      <a href="https://www.ntfire.net/insurance-questions" target="_blank"
        >Insurance Questions (Includes Station Locations, Apparatus and Hydrant
        Map)</a
      >
    </li><li>
      <a href="https://www.weather.gov/rev/" target="_blank"
        >Red Flag Warnings</a
      >
    </li><li>
      <a href="https://www.placer.ca.gov/2426/Placer-Alert" target="_blank"
        >Placer Alert Emergency Notification</a
      >
    </li><li>
      <a href="https://ready.edso.org/" target="_blank"
        >El Dorado County CodeRED Emergency Notification</a
      >
    </li><li>
      NTFPD Social Media
      <ul>
        <li>
          <a href="https://www.facebook.com/NTFPD/" target="_blank">Facebook</a>
        </li><li>
          <a
            href="https://nextdoor.com/agency-detail/ca/tahoe-city/north-tahoe-fire-district/"
            target="_blank">NextDoor</a
          >
        </li><li>
          <a href="https://twitter.com/NTFPD_" target="_blank">Twitter</a>
        </li><li>
          <a
            href="https://www.youtube.com/channel/UCX5jAV0mlihrJDzYZVgUBTg"
            target="_blank">YouTube</a
          >
        </li><li>
          <a
            href="https://www.instagram.com/northtahoefire/?hl=en"
            target="_blank">Instagram</a
          >
        </li>
      </ul>
    </li><li>
      <a href="https://www.tahoelivingwithfire.com/" target="_blank"
        >Tahoe Living with Fire</a
      >
    </li><li>
      <a href="https://www.readyforwildfire.org/" target="_blank"
        >Ready for Wildfire</a
      >
    </li><li>
      <a
        href="https://safe.hostcompliance.com/placer-county-ca/complaints/type"
        target="_blank">Placer County Short Term Rental Complaints</a
      >
    </li><li>
      <a
        href="https://www.placer.ca.gov/6561/Hazardous-Vegetation"
        target="_blank"
        >Placer County Hazardous Vegetation and combustible Material Ordinance</a
      >
    </li><li>
      <a
        href="https://www.placer.ca.gov/5721/Fire-Safe-Alliance"
        target="_blank">Placer County Fire Safe Alliance</a
      >
    </li><li>
      Resource Conservation Districts
      <ul>
        <li>
          <a href="https://tahoercd.org/" target="_blank">Tahoe RCD</a>
        </li>
        <li>
          <a href="http://placerrcd.org/" target="_blank">Placer RCD</a>
        </li>
      </ul>
    </li><li>
      <a href="https://www.fs.usda.gov/ltbmu/" target="_blank"
        >U.S. Forest Service – Lake Tahoe Basin Management Unit (LTBMU)</a
      >
    </li><li>
      <a href="https://tahoe.ca.gov/" target="_blank"
        >California Tahoe Conservancy</a
      >
    </li><li>
      <a
        href="https://www.nfpa.org/Education-and-Research/Wildfire/Firewise-USA"
        target="_blank">Firewise USA</a
      >
    </li><li>
      <a
        href="https://www.ready.gov/evacuation"
        target="_blank">Evacuation | Ready.gov</a
      >
    </li>
  </ul>
</ContentLayout>
