---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="py-4 px-4 display-1 text-center">
          <div class="d-flex flex-column align-items-center">
            <span class="display-1">Kingswood Estates</span>
            <small
              class="display-2 pt-1 pb-2 /* use margin and padding to wrap at the same width as ``Kingswood`` */ px-5"
              style="
              letter-spacing: 3px;
              font-size: 45%;
              font-variant: small-caps;
            "
            >
              Homeowner's Association
            </small>
            <div style="border-bottom: 1px solid black; width: 28%"></div>
          </div>
        </h1>
      </div>
    </div>
    <div class="row justify-content-center pt-4">
      <p class="col col-sm-9 px-5 px-sm-0 pb-sm-5 lead">
        Welcome to our website. Our community is nestled among the pine trees at
        North Lake Tahoe on either side of highway 267 in California. We have
        approximately 375 homes in our association with full time residents and
        second homeowners alike. We hope you find this site helpful and
        informative with links to local agencies and documents concerning the
        Kingswood Estates CC&amp;R’s, Newsletters and architectural review
        process
      </p>
    </div>
  </div>
</BaseLayout>
