---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<style>
  li {
    padding-bottom: 0.4em;
  }
</style>
<ContentLayout>
  <h1 class="pb-2 pt-4 pt-sm-5 display-4">Local Information</h1>
  <ul class="px-4">
    <li>
      <a
        href="http://www.placer.ca.gov/departments/works/snowremove"
        target="_blank">Placer County Snow Removal</a
      >
    </li><li>
      <a href="/docs/local/paving-dirt-driveways-placer-county.pdf"
        >Placer County Driveway Paving</a
      >
    </li><li>
      <a
        href="http://www.placer.ca.gov/departments/animal-services/services"
        target="_blank">Placer County Animal Control</a
      >
    </li><li>
      <a
        href="https://www.placer.ca.gov/6109/Short-Term-Rental-Program"
        target="_blank">Placer County Short Term Rentral Information</a
      >
    </li><li>
      <a href="http://www.savebears.org/" target="_blank">Bear League</a>
    </li><li>
      <a href="http://www.waste101.com/" target="_blank"
        >Free Green Waste Program</a
      >
    </li><li>
      <a href="http://www.ntfire.net" target="_blank"
        >North Tahoe Fire District</a
      >
    </li><li>
      <a href="http://tahoebmp.org/BMPs.aspx" target="_blank"
        >TRPA's BMP Guidelines</a
      >
    </li>
  </ul>
</ContentLayout>
