.wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph,
.wsite-elements.wsite-not-footer:not(.wsite-header-elements) p,
.wsite-elements.wsite-not-footer:not(.wsite-header-elements)
  .product-block
  .product-title,
.wsite-elements.wsite-not-footer:not(.wsite-header-elements)
  .product-description,
.wsite-elements.wsite-not-footer:not(.wsite-header-elements)
  .wsite-form-field
  label,
.wsite-elements.wsite-not-footer:not(.wsite-header-elements)
  .wsite-form-field
  label,
#wsite-content div.paragraph,
#wsite-content p,
#wsite-content .product-block .product-title,
#wsite-content .product-description,
#wsite-content .wsite-form-field label,
#wsite-content .wsite-form-field label,
.blog-sidebar div.paragraph,
.blog-sidebar p,
.blog-sidebar .wsite-form-field label,
.blog-sidebar .wsite-form-field label {
  font-family: "Lora" !important;
}
#wsite-content div.paragraph,
#wsite-content p,
#wsite-content .product-block .product-title,
#wsite-content .product-description,
#wsite-content .wsite-form-field label,
#wsite-content .wsite-form-field label,
.blog-sidebar div.paragraph,
.blog-sidebar p,
.blog-sidebar .wsite-form-field label,
.blog-sidebar .wsite-form-field label {
  color: #252525 !important;
}
.wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2,
.wsite-elements.wsite-not-footer:not(.wsite-header-elements)
  .product-long
  .product-title,
.wsite-elements.wsite-not-footer:not(.wsite-header-elements)
  .product-large
  .product-title,
.wsite-elements.wsite-not-footer:not(.wsite-header-elements)
  .product-small
  .product-title,
#wsite-content h2,
#wsite-content .product-long .product-title,
#wsite-content .product-large .product-title,
#wsite-content .product-small .product-title,
.blog-sidebar h2 {
  font-family: "Droid Sans" !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
}
#wsite-content h2,
#wsite-content .product-long .product-title,
#wsite-content .product-large .product-title,
#wsite-content .product-small .product-title,
.blog-sidebar h2 {
  color: #a9a9a9 !important;
}
#wsite-title {
  font-family: "Roboto" !important;
  letter-spacing: 4px !important;
}
.wsite-headline,
.wsite-header-section .wsite-content-title {
  font-family: "Aller" !important;
  color: #fff !important;
  letter-spacing: 2px !important;
}
.wsite-headline-paragraph,
.wsite-header-section .paragraph {
  font-family: "Lora" !important;
}
@media screen and (min-width: 767px) {
  .wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph,
  .wsite-elements.wsite-not-footer:not(.wsite-header-elements) p,
  .wsite-elements.wsite-not-footer:not(.wsite-header-elements)
    .product-block
    .product-title,
  .wsite-elements.wsite-not-footer:not(.wsite-header-elements)
    .product-description,
  .wsite-elements.wsite-not-footer:not(.wsite-header-elements)
    .wsite-form-field
    label,
  .wsite-elements.wsite-not-footer:not(.wsite-header-elements)
    .wsite-form-field
    label,
  #wsite-content div.paragraph,
  #wsite-content p,
  #wsite-content .product-block .product-title,
  #wsite-content .product-description,
  #wsite-content .wsite-form-field label,
  #wsite-content .wsite-form-field label,
  .blog-sidebar div.paragraph,
  .blog-sidebar p,
  .blog-sidebar .wsite-form-field label,
  .blog-sidebar .wsite-form-field label {
    font-size: 20px !important;
    line-height: 31px !important;
  }
  .wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2,
  .wsite-elements.wsite-not-footer:not(.wsite-header-elements)
    .product-long
    .product-title,
  .wsite-elements.wsite-not-footer:not(.wsite-header-elements)
    .product-large
    .product-title,
  .wsite-elements.wsite-not-footer:not(.wsite-header-elements)
    .product-small
    .product-title,
  #wsite-content h2,
  #wsite-content .product-long .product-title,
  #wsite-content .product-large .product-title,
  #wsite-content .product-small .product-title,
  .blog-sidebar h2 {
    font-size: 25px !important;
  }
  #wsite-title {
    font-size: 14px !important;
  }
  .wsite-headline,
  .wsite-header-section .wsite-content-title {
    font-size: 43px !important;
    line-height: 15px !important;
  }
  .wsite-headline-paragraph,
  .wsite-header-section .paragraph {
    font-size: 18px !important;
  }
}
.wsite-background {
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  background-size: 100% !important;
  background-color: transparent !important;
  background: inherit;
}
body.wsite-background {
  background-attachment: fixed !important;
}
.wsite-background.wsite-custom-background {
  background-size: cover !important;
}
