---
import "./layout.scss";
import NavItem from "../components/NavItem.astro";
import Banner from "../components/Banner";

interface Props {
  title?: string;
}

const { title } = Astro.props;
const currentYear = new Date().getFullYear();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {title && `${title} | `}Kingswood Estates HOA
    </title>
  </head>

  <body>
    {/* Banners go here */}
    {
      /* <Banner client:only showAfter="2023-06-01" hideAfter="2023-08-06">
      <i class="bi-calendar-check pe-1"></i>
      Our <b>Annual Meeting</b> is 9:30am Saturday 8/5 at the North Tahoe Events
      Center in Kings Beach. RSVP to <a href="mailto:info@kingswoodtahoe.org"
        >info@kingswoodtahoe.org</a
      > or <a
        href="https://us06web.zoom.us/j/82993266535?pwd=YW1YamVwVWYzN015SmVkNWpjTmtadz09"
        target="_blank">join via Zoom</a
      >.<br />Phone: +1 719 359 4580, Meeting ID: 829 9326 6535, Pass: 407428
    </Banner> */
    }
    <Banner client:only showAfter="2023-08-01" hideAfter="2023-08-31">
      <i class="bi bi-envelope-open-heart"></i>
      Want to stay in touch with other homeowners electronically?
      <br /><a href="https://forms.gle/748H4iRa5VG19qcu8" target="_blank"
        >Respond to this survey</a
      > to help us choose a medium.
    </Banner>
    <div class="container-fluid">
      <header
        class="py-2 d-flex align-items-top justify-content-center flex-wrap flex-row"
      >
        <a href="/" class="d-flex text-dark text-decoration-none pe-4">
          {/* Logo */}
          <div class="d-flex flex-column">
            <span
              style="font-family: georgia pro, georgia, serif; font-size: 32px"
              >K<span style="position: relative; left: -1px; top: 5px;">E</span>
            </span><span
              style="font-variant: small-caps; font-family: georgia pro, georgia, serif; font-size: 14px; margin-top: -9px; letter-spacing: 3px; position: relative; left: 3px;"
              >HOA</span
            >
          </div>
        </a>
        <ul
          class="nav nav-pills flex-grow-1 flex-sm-grow-0 justify-content-center"
          {/* style="justify-content: space-evenly" */}
        >
          <NavItem label="Home" href="/" />
          <NavItem label="Documents" href="/documents" />
          <NavItem label="Events" href="/events" />
          <NavItem label="Fire Safety" href="/fire-safety" />
          <NavItem label="Local Links" href="/local-links" />
          <NavItem label="Board" href="/board" />
          <NavItem label="Contact" href="/contact" />
          <NavItem label="Pay Dues" href="/pay" />
        </ul>
      </header>
      <div class="row">
        <div class="col px-0 position-relative">
          <div
            class="h-100 afsa"
            style="
            /* use padding to reserve minimum vertical space */
            padding-top: 27%;
          "
          >
            <div
              style="
                background-image: url('/img/splash2.jpg');
                position: absolute;
                width: 100%;
                min-height: 100%;
                top: 0;
                left: 0;
                background-size: cover;
                background-position: center bottom;
                overflow: hidden;
              "
            >
            </div>
          </div>
        </div>
      </div>
    </div>
    <slot />
    <div class="container-fluid">
      <footer class="pt-4 px-5 my-5 border-top text-muted">
        <div
          class="mx-auto d-flex flex-column flex-sm-row flex-wrap justify-content-between px-1"
          style="row-gap: 1em; column-gap: 3em;"
        >
          <div class="">
            <a
              class="link-secondary text-decoration-none"
              href="mailto:info@kingswoodtahoe.org"
            >
              <i class="bi-envelope-at"></i>
              info@kingswoodtahoe.org</a
            >
            <div>
              <a
                class="link-secondary text-decoration-none"
                href="tel:530-546-5913"
              >
                <i class="bi-telephone"></i>
                (530) 546-5913​</a
              >
            </div>
            <div class="">© 2014-{currentYear}</div>
          </div>
          <div class="d-flex">
            <i class="bi-envelope-paper pe-1"></i>
            <div translate="no">
              Kingswood Estates HOA<br />
              PO Box 1215<br />
              Kings Beach, CA 96143
            </div>
          </div>
          <div>
            <div>
              <a
                href="https://github.com/kingswoodtahoe/kingswoodtahoe.github.io"
                class="link-secondary text-decoration-none"
              >
                <i class="bi-github"></i>
                Contribute
              </a>
            </div>
            <a
              href="https://www.nfpa.org/Education-and-Research/Wildfire/Firewise-USA"
              class="link-secondary text-decoration-none"
            >
              <img
                src="/img/firewise_logo.png"
                width="105px"
                class="pb-0"
                style="opacity: 75%"
              />
            </a>
          </div>
        </div>
      </footer>

      <div class="text-center pt-5">
        <div>🌲🌲🌲</div>
      </div>
    </div>
  </body>
</html>
