---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="container-fluid">
    <div class="row">
      <div class="col px-4 px-sm-5 mx-auto">
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>
